.Menu img {
    margin:10px;
}
.Menu {
    margin-bottom: 30px;
}
.Menu ul {
    width:auto;
    text-align:center;
}
.Menu ul li {
    font-size:18px;
    list-style-type: none;
    display:inline-block;
    padding: 0 40px 0 40px;
}
.Menu ul li:hover {
    border: 1px solid rgb(167, 147, 147);
    color:rgb(212, 147, 157);
    border-radius: 30px;
}
.Menu ul a {
    color:black;
}